
.top-menu {
    display: flex;
    justify-content: space-evenly;
    padding: 0 12%;
    margin-top: 2%
    
    
    
    


}

ul {
    margin-right: 60%;
}

li {
    display: inline;
    padding-right: 2rem;
    border


}